:root {
    --primary-color: #D73F09; /* Beaver Orange */
    --secondary-color: #000000; /* Paddletail Black */
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial;
}

.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.teacher-button,
.student-button {
    position: fixed;
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for the height of the button */
    width: 150px; /* Set a consistent width */
    height: 50px; /* Set a consistent height */
    background-color: var(--secondary-color); /* Default black */
    color: white;
    text-align: center;
    line-height: 50px; /* Vertically center text */
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.2s;
}

.teacher-button:hover,
.student-button:hover {
    background-color: var(--primary-color); /* Change to orange on hover */
    transform: translateY(-50%) scale(1.1); /* Slight scale on hover */
}

/* Specific positioning for each button */
.teacher-button {
    left: 20%; /* Place on the left side */
}

.student-button {
    right: 20%; /* Place on the right side */
}


.sidebar-left {
    background-color: var(--primary-color);
    color: white;
    width: 80px;
    min-width: 50px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100vh;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
}

.home-button {
    background-color: black;
}

.dashboard {
    background-color: #ecf0f1;
    flex: 1;
    padding: 40px;
    margin-left: 6%;
    overflow-y: auto;
}

.dashboard h1 {
    color: black;
    margin: 0;
    font-size: 2rem;
}

.dashboardWhite {
    background-color: white;
}

@media screen and (max-width: 600px) {
    .sidebar-left {
        transform: translateX(-100%);
    }

    .dashboard {
        margin-left: 0;
    }
}
